{% extends "layout.html" %}

{% block content %}

<div class="form-card">
  <h2>Add Vacation</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    {% if field.name == "image" %}
    {% if form.instance.image %}
    <div class="image-container image-container-update">
        <img src="{{ form.instance.image.url }}" alt="Image">
        {{ field }}
    </div>
    {% else %}
    {{ field }}
    {% endif %}
    {% else %}
    
        {{ field }}
    
    {% endif %}
    {% endfor %}
    <button type="submit" class="btn-primary">Add Vacation</button>
    
  </form>
</div>

{% endblock %}
