{% extends 'layout.html' %}
{% load static %}

{% block title %}Home | Dreamy Vacations{% endblock %}

{% block content %}

<section class="hero" style="background-image: url('{% static "images/hero.jpg" %}');">
    <div class="hero-inner container">
        <h1>Your Next Dream Vacation Starts Here!</h1>
        <p>The hottest destinations, the finest hotels — all for you.</p>
    </div>
</section>

<section class="packages">
    <h2>Our Popular Packages</h2>
    <div class="featured-grid">
        {% for vacation in vacations %}
        <div class="card">
            <div class="card-body">
                <img src="{{ vacation.image.url }}">
                <h3>{{ vacation.country}}</h3>
                <br>
                <p>{{ vacation.description }}</p>
                <br>
                <p>{{ vacation.start_date }} - {{ vacation.end_date }}</p>
                <br>
                <p>${{ vacation.price }}</p>
            {% if user.is_staff %}
            <a href="{% url 'delete_vacation' vacation.id %}" class="btn-primary">Delete</a>
            <span class="likes-count"> {{ vacation.likes.count }}</span></button>
            {% else %}
            {% if vacation.liked %}
                <form action="{% url 'unlike_vacation' %}" method="post">
            {% else %}
                <form action="{% url 'like_vacation' %}" method="POST">
            {% endif %}
                    {% csrf_token %}
                <button type="submit" class="like-btn" name="vacation_id" value="{{ vacation.id }}">❤️<span class="likes-count"> {{ vacation.likes.count }}</span></button>
                </form>
            {% endif %}
            
            </div>
            </div>
        {% endfor %}
        </div>
        
    </div>
</section>

{% endblock %}